.restbg{
    background-image:url("menu.bg.jpeg");
    width:1550px;
    height: 950px;
    background-size: cover;
    background-attachment: fixed;
}
.type{
    width: 1510px;
    margin-left: 0%;
    padding: 20px;
    background-color: rgb(226, 218, 218);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    font-weight: bold;
    word-spacing: 80px;
    text-decoration: none;
}
.title{
    color:black;
    background-color:  rgb(226, 218, 218);
    width: 5.5cm;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align:center;
    position: relative;
    font: size 200px;;
    margin-top:0.5cm;
}
.dish{
    color:black;
    background-color:  rgb(226, 218, 218);
    width: 5.5cm;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align:center;
    position: relative;
    font: size 100px;;
    margin-top:0.5cm;
}
.starters {
    display: grid ;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    gap: 20px;
    justify-items: center;
    padding: 10px;
    margin-top: 1cm;

}
.starter{
    background-color: rgb(226, 218, 218);
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    width: 60%;
}
.starter img {
    border-radius: 15px;
    width: 80%;
    height: 100px;
    object-fit: cover;
}

.starter h1 {
    font-size:medium;
    color: black;
    margin-top: 10px;
}
.maincourse {
    display: grid ;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    gap: 20px;
    justify-items: center;
    padding: 10px;
    margin-top: 1cm;

}
.course{
    background-color: rgb(226, 218, 218);
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    width: 60%;
}
.course img {
    border-radius: 15px;
    width: 80%;
    height: 100px;
    object-fit: cover;
}

.course h1 {
    font-size:medium;
    color: black;
    margin-top: 10px;
}
.desserts {
    display: grid ;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    gap: 20px;
    justify-items: center;
    padding: 10px;
    margin-top: 1cm;

}
.end{
    background-color: rgb(226, 218, 218);
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    width: 60%;
}
.end img {
    border-radius: 15px;
    width: 80%;
    height: 100px;
    object-fit: cover;
}

.end h1 {
    font-size:medium;
    color: black;
    margin-top: 10px;
}
.footer{
    width: 1550px;
    height: 20px;
    background-color: rgb(226, 218, 218);
    text-align: center;
    margin-top:20px;
    position: relative;
    margin-bottom: 20px;
}